
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    a {
        text-decoration: none;
        color:#eee6e6;
    }
    img {
    width: 100%;
    } 
    header {
        background:#000000;
        height: 90vh;
        }
        .container {
        max-width: 1250px;
        margin: 0 auto;
        }
        .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        padding-left: 50px;
        padding-right: 50px;
        }
        .coyer {
        position: fixed;
        top: 0px;
        width: 100%;
        background: #0000009d;
        }
    
        .first a {
        font-family: cursive;
        font-size: 30px;
        color:violet;
        }
        .nav-bar a {
        font-family: sans-serif;
        font-size: 20px;
        margin: 20px;
        color:#eee6e6;
        }
        .nav-bar img {
        position: relative;
        background:#00000000;
        top: 20px;
        height: 25px;
        width: 40px;
        }
    ul {
    display: flex;
    list-style: none;
    line-height: 35px;
    }
    ul li {
    margin: 0 20px;
    }
    ul li a {
    position: relative;
    font-size: 12px;
    text-decoration: none;
    color: #eee6e6;
    font-weight: 600;
    }
    ul li a::before {
    position: absolute;
    content:'';
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color:#2c003e;
    background-image: linear-gradient(90deg,#ff009d 0%,blue 100%);
    bottom: -5px;
    transition: 0.5s transform;
    transform: scaleX(0);
    transform-origin: right;
    }
    ul li a:hover {
        color:fuchsia;
    }
    ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    }
    label #btn,
    label #cancel {
        position: absolute;
        top: 12%;
        right: 30px;
        font-size: 25px;
        cursor: pointer;
        transform: translate(0,-50%);
        display: none;
    }
    label #cancel {
        background:#44829100;
    }
    #check{
        display: none;
        }
        .center {
        display: flex;
        justify-content:space-around;
        align-items: center;
        padding-top: 250px;
        }
        .right img {
            width: 300px;
            height: 320px;
            border-radius: 50%;
            }
        .left h1 {
    font-family: Roboto;
    font-size: 65px;
    font-weight: 600;
    color: goldenrod;
        }
        .left p {
    font-family: Roboto;
    font-size: 20px;
    line-height: normal;
    color:#a9a9a9;
    margin-top: 10px;
        }
        .button {
    margin: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fee140;
    font-size: 18px;
    font-weight: bold;
    background-color: #FEE140;
    background-image: linear-gradient(90deg,#8400ff 0%,#ce0f48 100%);
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 5px;
        }
        .yes{
    animation: yes 1s ease-in-out infinite;
        }
    
        .yes:hover {
            cursor: pointer;
        }
    .no {
        animation: no 1s ease-in-out infinite;
    }
    .no:hover {
        cursor: pointer;
    }
    /* about qismi */
    section {
        background:#f3e652;
        height: 150vh;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
    }  
    .about a {
        color: blue;
    }
    .about h2 {
    font-family: Roboto;
    font-size: 45px;
    color: midnightblue;
    }
    .about p {
    font-family: Roboto;
    font-size: 25px;
    line-height: 30px;
    color:#191970;
    padding: 1% 30% 0% 30%;
    }
    
        .articl {
            margin: 0% 10% 0% 10%;
        }
        .font {
            margin-top: 10px;
        }
        .contact b {
            font-size: 18px;
        }
        
        .lock h1{
            margin-top: 30px;
            font-size: 35pxpx;
        }
        .lock p {
            font-size: 15px;
            line-height: 20px;
            margin: 1% 10% 0% 10%;
        }
        .articl {
            margin: 0% 10% 0% 10%;
        }
        .font {
            margin-top: 10px;
        }
        .contact b {
            font-size: 18px;
        }

    .span {
        color: orangered;
    }
    .about b {
        font-family: sans-serif;
        font-size: 25px;
        line-height: 35px;
        color: #191970;
    }
    .img img {
        width: 40%;
        height: 470px;
        box-shadow: 5px 5px 5px 5px #504401;
        margin-top: 60px;
    }
    .about {
        margin-top: 100px;
    }
    /* project qismi */
    .project {
        background:#000000;
        height: 170vh;
    }
    .back {
        padding-top: 100px;
    }
    .main h2 {
        text-align: center;
        color: #c05d5d;
        font-family: sans-serif;
        font-size: 20px;
        padding: 100px 0px 10px;
        
    }
    .main p {
        color: #c05d5d;
        text-align: center;
        line-height: normal;
        font-family:sans-serif;
        font-size: 15px;
        margin: 0% 20% 0% 20%;
    }
    .main a:hover {
    color:#ff009d;
    transition: 0.5s;
    }
    .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:5px;
    margin: 80px 0px 0px 100px;
    }
    .item {
        height: 45vh;
        width: 90%;
        
    }
    .item_1 {
        height: 45vh;
        width: 90%;
        
    }
    .item_2 {
        height: 45vh;
    width: 90%;
    margin-top: 50px;
    }
    .item_3 {
        height: 45vh;
        width: 90%;
        margin-top: 50px;
    }
    .back h3 {
        text-align: center;
        color: #dba6a6;
        font-family: sans-serif;
        font-size: 20px;
        
    }
    .back p {
        color: #afa1a1;
        text-align: center;
        line-height: normal;
        font-family: sans-serif;
        font-size: 15px;
        margin: 1% 20% 0% 20%;
    }
/* contact qismi */
    .contact {
    border-top:1px solid #626a6d;
    background:#c7cccc;
    height: 80vh;
    
    } 
    .con-social-btns {
        margin-left: 620px;
        margin-top: 60px;
        }
        .con-social-btns button {
            border-radius: 10px;
            background:gold;
            border: none;
            outline: none;
            height: 40px;
            width: 40px;
            cursor: pointer;
            margin-left: 20px;
        }
    .lock h1 {
        font-family: Roboto;
        font-size: 60px;
        font-weight: 800;
        color: #000000;
        text-align: center;
        margin-top: 50px;
    }
    .lock a {
        color: blue;
    }
    .lock p {
        font-size: 20px;
        font-family:Roboto;
        line-height: 40px;
        margin: 2% 15% 0% 15%;
    }
    .lock .not {
    border: 1px solid blue;
    border-radius: 2px;
    padding: 0% 0% 5% 0%;
    margin-left: 20%;
    }
    .articl {
        margin: 0% 25% 0% 25%;
    }
    .articl b {
        font-size: 20px;
        font-family: Roboto;
    }
    .email {
        height: 35vh;
        background:#8a8ab86c;
        text-align: center;
    }
    .get {
        margin-top: 40px;
    }
    .learn h3{
    font-family:Roboto;
    font-size: 25px;
    padding-top: 4%;
    }
    .learn p {
    font-size: 20px;
    margin: 1% 20% 0% 20%;
    }
    .get input {
    height: 35px;
    width: 550px;
    margin-left: -20px;
    padding: 10px 10px;
    background: #a3a3e06c;
    outline: none;
    border: none;
    }
    .get p {
        margin-top: 10px;
    }
    .more{
        padding: 0% 0% 0% 10%;
    }
    .get button {
    padding: 10px 10px;
    background:deepskyblue;
    border-radius:5px;
    border: none;
    outline: none;
    }
    .footer {
    background:#2b3233;
    height: 10vh;
    border-top:2px solid rgb(58, 56, 56);
    text-align: center;
    }
    .footer p {
        padding-top: 30px;
    }
    .footer .text {
        border: 1px solid #7e7878;
        border-radius: 2px;
        background: #494244;
        margin: 5px;
    }
    .footer img {
        height: 13px;
        width: 15px;
        background: #2b3233;
    }
    @keyframes no {
    50% {
    transform: matrix3d(1,0,0,0.005,0,1,0,0,0,0,1,0,0,0,0,1);
    }
    75% {
    transform: matrix3d(1,0,0,-0,005,0,1,0,0,0,0,1,0,0,0,0,1);
    }
    }
    @keyframes yes {
    50% {
        transform: matrix3d(1,0,0,0,0,1,0,0.005,0,0,1,0,0,0,0,1);
    }
    75% {
        transform: matrix3d(1,0,0,0,0,1,0,0.005,0,0,1,0,0,0,0,1);
        }
    }
        @media (max-width:768px) {
    
            label #btn {
              display: inline-block;
              top: 30px;
            }
               ul {
               position: fixed;
               top: 0px;
               right:-100%;
               width: 40%;
               height: 100vh;
               padding-top: 80px;
               display: block;
               line-height: 40px;
               z-index: 100;
               background-color: #11647952;
               text-align: center;
               transition: 0.5s;
              
           }
           ul li {
           margin-left: 50px;
           
           }
           ul li a {
                font-size: 20px;
               color: #ce0f48;
           }
           #check:checked ~ ul {
               right: 0;
           }
           #check:checked ~ label #btn{
           display: none;
           }
           #check:checked ~ label #cancel {
               display: block;
               z-index: 101;
               color: #fff;
               top: 30px;
           }
           .coyer {
               width: 100%;
           }
           
           .left h1 {
          font-size: 35px;
          margin-top: 60px;
           }
           .left p {
               margin-top: 0px;
           }
           .button  {
            font-size: 10px;
            padding: 10px 18px;
            margin-top: 15px;
            
           }
           .navbar {
               height: 50px;
           }
           .center{
               padding-top: 100px;
           }
          .right img {
          width: 190px;
          height: 200px;
          }
          .con-social-btns button {
            height: 30px;
            width: 30px;
            margin-top: 8px;
        }
        .con-social-btns {
            margin-left: 350px;
            margin-top: 0px;
        }
    .about h2 {
    font-size: 24px;
    }
    .about p{
        line-height: 15px;
        font-size: 15px;
    }
    .about b{
        font-size: 18px;
    }
    .about {
        margin-top: 25px;
    }
    .img img {
        width: 300px;
        height: 200px;
        margin-top: 20px;
    }
    .main h2 {
    padding: 40px 0px 5px;
    }
    .main p {
        font-size: 13px;
    }
    .bottom {
           margin: 10px 50px 0px 150px;
    }
    .item {
    height: 35vh;
    width: 70%;
    }
    .item_1 {
    height: 35vh;
    width: 70%;
    }
    .item_2 {
    height: 35vh;
    width: 70%;
    margin-top: 10px;
    }
    .item_3 {
    height: 35vh;
    width: 70%;
    margin-top: 10px;
    }
    .back {
        padding-top: 17px;
    }
    .back p {
        margin: 1% 10% 0% 10%;
    }
    .lock h1{
        margin-top: 30px;
        font-size: 35px;
    }
    .lock p {
        font-size: 15px;
        line-height: 20px;
        margin: 1% 10% 0% 10%;
    }
    .articl {
        margin: 0% 10% 0% 10%;
    }
    .font {
        margin-top: 10px;
    }
    .contact b {
        font-size: 18px;
    }
    .lock .not {
        display: none;
    }
    .learn h3{
        font-size: 18px;
    }
    .learn p {
        font-size: 15px;
        margin: 1% 8% 0% 8%;
    }
    .get {
        margin-top: 0px;
    }
    .get input {
        height: 26px;
        width: 300px;
    }
     .get button {
         padding: 6px 6px;
     }  
    .get p{
        margin-top: 3px;
        font-size: 10px;
    }
    .footer p {
        padding-top: 6px;
    }
    }
          @media (max-width:425px) {
              ul {
                  line-height: 30px;
                  height: 80vh;
                  width: 50%;
              }
              .left h1 {
                  font-size: 35px;
              }
              .con-social-btns {
                  margin-left: 90px;
              }
              .con-social-btns button {
                  height: 28px;
                  width: 28px;
                  margin-top: 8px;
              }
              .first a{
                  font-size: 20px;
              }
    .center {
    flex-direction: column;
    padding-top: 80px;
    }
    .left h1 {
        font-size: 28px;
        margin-top: 50px;
    }
    .left p{
        font-size: 18px;
    }
    .button {
        padding: 8px 12px;
    }
    .right img{
        width: 110px;
        height: 110px;
        margin-top: 20px;
    }
    .img img {
        width: 240px;
        height: 200px;
        margin-top: 30px;
    }
    .about p{
        padding: 1% 15% 0% 15%;
    }
    .main h2 {
        padding: 20px 0px 0px;
        font-size: 14px;
        }
        .main p {
            font-size: 10px;
            margin: 0% 10% 0% 10%;
        }
        .bottom {
            grid-template-columns: 1fr;
               margin: 5px 0px 0px 120px;
        }
        .item {
        height: 25vh;
        width: 60%;
        }
        .item_1 {
        height: 25vh;
        width: 60%;
        }
        .item_2 {
        height: 25vh;
        width: 60%;
        margin-top: 0px;
        }
        .item_3 {
        height: 25vh;
        width: 60%;
        margin-top: 0px;
        }
        .back {
            padding-top: 8px;
        }
        .back h3 {
            font-size: 10px;
        }
        .back p {
            font-size: 10px;
            margin: 0% 8% 0% 8%;
        }
        .lock h1{
            margin-top: 10px;
            font-size: 30px;
        }
        .lock p {
            font-size: 15px;
            line-height: 20px;
            margin: 1% 3% 0% 3%;
        }
        .articl {
            margin: 0% 3% 0% 3%;
        }
        .font {
            margin-top: 10px;
        }
        .contact b {
            font-size: 14px;
        }
        .lock .not {
            display: none;
        }
        .learn h3{
            font-size: 16px;
        }
        .learn p {
            font-size: 12px;
            margin: 1% 3% 0% 3%;
        }
        .get {
            margin-top: 20px;
        }
        .get input {
            height: 25px;
            width: 250px;
        }
         .get button {
             padding: 3px 3px;
         }  
        .get p{
            margin-top: 3px;
            font-size: 10px;
        }
        .footer p {
            padding-top: 6px;
        }
        }
        @media (max-width:320px){
            label #btn {
                display: inline-block;
                top: 30px;
              }
                 ul {
                 position: fixed;
                 top: 0px;
                 right:-100%;
                 width: 70%;
                 height: 80vh;
                 padding-top: 80px;
                 display: block;
                 line-height: 20px;
                 font-size: 5px;
                 z-index: 100;
                 background-color: #11647952;
                 text-align: center;
                 transition: 0.5s;
                
             }
             .con-social-btns {
                margin-left: 50px;
            }
            .con-social-btns button {
                height: 25px;
                width: 25px;
                margin-top: 10px;
            }
            .img img {
                width: 200px;
                height: 180px;
                margin-top: 30px;
            }
            .main h2 {
                padding: 20px 0px 0px;
                font-size: 15px;
                }
                .main p {
                    margin: 0% 1% 0% 1%;
                }
                .bottom {
                 grid-template-columns: 1fr;
                    margin: 10px 0px 0px 100px;
                }
                .item {
                height: 25vh;
                width: 60%;
                }
                .item_1 {
                height: 25vh;
                width: 60%;
                }
                .item_2 {
                height: 25vh;
                width: 60%;
                margin-top: 0px;
                }
                .item_3 {
                height: 25vh;
                width: 60%;
                margin-top: 0px;
                }
                .back {
                    padding-top: 25px;
                }
                .back h3 {
                    font-size: 10px;
                }
                .back p {
                    margin-top: 0px;
                    font-size: 8px;
                }
                .lock h1{
                    margin-top: 10px;
                    font-size: 22px;
                }
                .lock p {
                    font-size: 12px;
                    line-height: 20px;
                    margin: 0% 2% 0% 2%;
                }
                .articl {
                    margin: 0% 2% 0% 2%;
                    font-size: 12px;
                }
                .font {
                    margin-top: 6px;
                }
                .contact b {
                    font-size: 12px;
                }
                .lock .not {
                    display: none;
                }
                .learn h3{
                    font-size: 12px;
                }
                .learn p {
                    font-size: 12px;
                    margin: 1% 2% 0% 2%;
                }
                .get {
                    margin-top: 20px;
                }
                .get input {
                    height: 20px;
                    width: 200px;
                }
                 .get button {
                     padding: 3px 3px;
                 }  
                .get p{
                    margin-top: 10px;
                    font-size: 10px;
                }
                .footer p {
                    padding-top: 0px;
                    font-size: 12px;
                }
        }